nav {
  margin-bottom: 50px;
}

hr {
  margin-bottom: 50px;
}

.accordion {
  margin-bottom: 100px;
}

.uploaded-img {
  width: 250px;
}

.task-status-title {
  margin-right: 10px;
}

.image-input .form-control {
  border: none;
}

.subscribe-form {
  margin-bottom: 50px;
}

.subscribe-form p {
  font-size: 12px;
}
